.table {
    overflow: hidden;
    padding-bottom: 10px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 2px;
    height: -webkit-fill-available;
    thead {
        display: table-header-group;
        vertical-align: middle;
        tr {
            display: table-row;
            th {
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 600;
                padding: 12px 0px;
                text-align: left;
                vertical-align: bottom;
                border-bottom: 0.0125rem solid hsla(0,0%,100%,.1);
            }
        }
    }
    tbody {
        display: table-row-group;
        vertical-align: middle;
        tr {
            display: table-row;
            td {
                padding: 12px 7px;
                border-bottom: 0.0125rem solid hsla(0,0%,100%,.1);
            }
        }
    }

    th td {
        vertical-align: top;
        border-top: 5px solid white;
    }
    .table-responsive {
        overflow: hidden;
    }
}
