.Sidebar {
    background-image: linear-gradient(#0986ed, #093a79);
    width: 270px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    color: white;
    overflow: hidden;
    .MuiListItem-gutters {
        padding-left: 24px;
        padding-right: 24px;
    }
    .Sidebar-list-1 > div {
        width: 270px;
    }
    .jss1 {
        width: 270px;
    }
    .MuiCollapse-wrapperInner {
        div {
            div {
                a {
                    div {
                        span {
                            padding-left: 30px;
                        }
                    }
                }
            }
        }
        .MuiButtonBase-root {
            .MuiTypography-root {
                padding-left: 30px;
            }
        }
        .MuiCollapse-wrapperInner {
            div {
                div {
                    a {
                        div {
                            span {
                                padding-left: 60px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.Sidebar-title {
    font-size: 27px;
    font-weight: 300;
    letter-spacing: 1.5px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}
.Sidebar-release {
    text-align: center;
    font-weight: 300;
    margin-top: 0px;
    text-decoration: none;
}
